@charset "utf-8";
/* CSS Document */

body {
    background-color: 34495 e; /* for the tint */
}

.all-elements {
    overflow-x: hidden;
}

.page-content {
    background-color: #FFFFFF;
    z-index: 10;
    display: block;
    min-height: 100%;
}

.page-content-wrapper {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px;
    padding-bottom: 15px;

}

.page-sidebar {
    background-image: url(../images/misc/menu-bg.png);
    /* background-repeat: repeat; */
    background-size: 75px 75px;
    width: 262px;
    display: block;
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 0px;
    bottom: 0px;
    overflow: hidden;
    position: fixed;
}

.page-sidebar-scroll {
    z-index: 2;
    width: 282px;
    overflow: scroll;
    overflow-x: hidden;
    /* -webkit-overflow-scrolling: touch;*/
    height: 100%;
}

/*Content Controls*/

.homepage-slider {
    z-index: 9;
    margin-top: -50px;
}

.content-controls {
    z-index: 15;
    height: 50px;
}

.fixed-header {
    top: 0px;
    z-index: 999999;
    position: fixed;
    width: 100%;
}

.fixed-header-clear {
    height: 70px;
}

.header-black {
    background-color: rgba(0, 0, 0, 0.85);
    margin-bottom: 20px;
}

.deploy-sidebar {
    background-image: url(../images/misc/deploy-nav.png);
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    background-size: 18px 12px;
    background-position: 20px 18px;
}

.content-title {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 800;
    color: #FFFFFF;
    display: block;
    width: 100%;
    text-align: center;
    font-style: normal;
    margin-top: -35px;
}

.deploy-contact {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 800;
    color: #FFFFFF;
    display: block;
    width: 100%;
    text-align: center;
    font-style: normal;
    margin-top: 15px;
    margin-right: 15px;
    width: 60px;
    height: 50px;
    background-size: 18px 12px;
    background-position: 15px 18px;
    position: absolute;
    right: 0px;
    top: 0px;   
}



.content-header {
    position: absolute;
    margin-top: -65px;
    margin-left: 20px;
    width: 100%;
    min-width: 320px;
}

.content-header h3 {
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 18px;
    margin-bottom: 3px;
}

.content-header em {
    display: block;
    color: #a4a4a4;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    font-style: normal;
}

.content-header-call {
    position: absolute;
    background-image: url(../images/misc/deploy-call.png);
    background-repeat: no-repeat;
    background-size: 38px 38px;
    width: 38px;
    height: 38px;
    right: 40px;
    margin-top: -42px;
}

.content-header-text {
    position: absolute;
    background-image: url(../images/misc/deploy-text.png);
    background-repeat: no-repeat;
    background-size: 38px 38px;
    width: 38px;
    height: 38px;
    margin-right: 40px;
    margin-top: -42px;
    right: 50px;
}

.homepage-slider {
    margin-bottom: 20px;
}

.overlay {
    z-index: 9999;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

/*Adjustments for tablets*/

@media screen and (orientation: landscape) {
    .content-section .responsive-image {
        margin-top: -70px;
    }
}

@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape) {
    .column-responsive {
        width: 30%;
        float: left;
        margin-right: 5%;
    }

    .content-section .responsive-image {
        margin-top: -210px;
    }
}

@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait) {
    .column-responsive {
        width: 30%;
        float: left;
        margin-right: 3%;
    }

    .content-section .responsive-image {
        margin-top: -130px;
    }
}

@media only screen
and (width: 798px) {
    .column-responsive {
        width: 30%;
        float: left;
        margin-right: 3%;
    }

    .content-section .responsive-image {
        margin-top: -130px;
    }
}

.content-section {
    margin-bottom: 20px;
}

.content-section .responsive-image {
    margin-bottom: 0px;
}

.content-section h1 {
    font-size: 16px;
    position: absolute;
    color: #FFFFFF;
    margin-top: 30px;
    left: 20px;
    z-index: 99999;
}

.content-section em {
    font-size: 12px;
    font-style: normal;
    position: absolute;
    color: #a3a3a3;
    margin-top: 55px;
    left: 20px;
    right: 5px;
    z-index: 99999;
}

/*About Faces / Quotes */

.quote-item em {
    text-align: center;
    display: block;
    color: #e34e47;
    margin-bottom: 10px;
}

.quote-item h4 {
    text-align: center;
    margin-bottom: 0px;
}

.quote-item strong {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.quote-item img {
    border-radius: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

/*Columns Responsive*/

.column-responsive img {
    width: 100px;
    float: left;
    border-radius: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.column-responsive strong {
    margin-top: 5px;
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    color: #1a1a1a;
}

.column-responsive em {
    font-style: normal;
}

.copyright {
    font-size: 10px;
}

.footer-socials {
    width: 110px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.footer-socials a {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}

.facebook-footer {
    background-image: url(../images/misc/facebook.png);
    background-repeat: no-repeat;
    background-size: 25px 26px;
    height: 25px;
    width: 25px;
}

.goup-footer {
    background-image: url(../images/misc/goup.png);
    background-repeat: no-repeat;
    background-size: 25px 25px;
    height: 25px;
    width: 25px;
}

.twitter-footer {
    background-image: url(../images/misc/twitter.png);
    background-repeat: no-repeat;
    background-size: 25px 25px;
    height: 25px;
    width: 25px;
}

/*//////////////*/
/*Sidebar Styles*/
/*//////////////*/

.round-decoration {
    width: 80px;
    border-radius: 80px;
}

.sidebar-controls {
    border-bottom: solid 1px rgba(255, 255, 255, 0.05);
}

.sidebar-controls a {
    background-position: 18px 17px;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    border-right: 1px solid #191919;
    border-left: solid 1px rgba(255, 255, 255, 0.05);
    border-bottom: 1px solid #191919;
    float: left;
    width: 52px;
    height: 50px;
}

.sidebar-call {
    background-image: url(../images/misc/sidebar-call.png);
    border-left: none !important;
}

.sidebar-text {
    background-image: url(../images/misc/sidebar-text.png);
}

.sidebar-face {
    background-image: url(../images/misc/sidebar-facebook.png);
}

.sidebar-twit {
    background-image: url(../images/misc/sidebar-twitter.png);
}

.sidebar-close {
    background-image: url(../images/misc/sidebar-close.png);
}

.sidebar-logo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sidebar-header {
    margin-bottom: 20px;
}

.sidebar-header h4 {
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 0px;
}

.sidebar-header em {
    display: block;
    font-style: normal;
    color: #a4a4a4;
}

.sidebar-decoration {
    width: 260px;
    height: 2px;
    background-color: #191919;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

/*Sidebar Navigation*/

.sidebar-breadcrumb {
    background-color: rgba(0, 0, 0, 0.1);
}

.sidebar-breadcrumb p {
    opacity: 0.5;
    color: #d2d3d4;
    font-size: 10px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.nav-item {
    height: 58px;
    overflow: visible;
    display: inline;
}

.nav-item a {
    height: 58px;
    line-height: 59px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    color: #d3d3d3;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 14px;
    padding-left: 60px;
}

.home-nav {
    background-image: url(../images/misc/nav-home.png);
    background-position: 20px 19px;
}

.features-nav {
    background-image: url(../images/misc/nav-features.png);
    background-position: 20px 20px;
}

.gallery-nav {
    background-image: url(../images/misc/nav-camera.png);
    background-position: 20px 20px;
}

.contact-nav {
    background-image: url(../images/misc/nav-mail.png);
    background-position: 20px 21px;
}

.close-nav {
    background-image: url(../images/misc/nav-close.png);
    background-position: 20px 20px;
}

.facebook-nav {
    background-image: url(../images/misc/nav-facebook.png);
    background-position: 20px 20px;
}

.twitter-nav {
    background-image: url(../images/misc/nav-twitter.png);
    background-position: 20px 20px;
}

.selected-nav {
    background-image: url(../images/misc/nav-selected.png);
    background-size: 14px 14px;
    position: absolute;
    width: 14px;
    height: 14px;
    left: 220px;
    margin-top: 23px;
}

.unselected-nav {
    background-image: url(../images/misc/nav-unselected.png);
    background-repeat: no-repeat;
    background-size: 14px 14px;
    position: absolute;
    width: 14px;
    height: 14px;
    left: 220px;
    margin-top: 23px;
}

.selected-sub-nav {
    background-image: url(../images/misc/nav-selected.png);
    background-repeat: no-repeat;
    background-size: 11px 11px;
    position: absolute;
    width: 14px;
    height: 14px;
    left: 221px;
    margin-top: 18px;
}

.unselected-sub-nav {
    background-image: url(../images/misc/nav-unselected.png);
    background-size: 14px 14px;
    position: absolute;
    width: 14px;
    height: 14px;
    left: 220px;
    margin-top: 18px;
}

.link-nav {
    background-image: url(../images/misc/nav-link.png);
    background-size: 14px 14px;
    position: absolute;
    width: 14px;
    height: 14px;
    left: 220px;
    margin-top: 22px;
}

.submenu-deploy em {
    background-image: url(../images/misc/nav-dropup.png);
    background-size: 14px 14px;
    position: absolute;
    width: 14px;
    height: 14px;
    left: 220px;
    margin-top: 23px;
}

.dropdown-nav {
    background-image: url(../images/misc/nav-dropdown.png) !important;
    background-size: 14px 14px;
    position: absolute;
    width: 14px;
    height: 14px;
    left: 200px;
    margin-top: 23px;
}

.nav-item-submenu {
    display: none;
}

.active-submenu {
    display: block;
}

.nav-item a:hover {
    background-color: rgba(255, 255, 255, 0.03);
}

.nav-item-submenu a {
    background-image: url(../images/misc/nav-submenu.png);
    background-repeat: no-repeat;
    background-size: 10px 10px;
    margin-bottom: 0px;
    margin-top: 0px;
    height: 50px !important;
    line-height: 50px !important;
    background-position: 25px 20px;
    padding-left: 60px;
    margin-left: 0px;
    font-size: 12px;
    font-weight: 400;
    color: #7d7d7e;
    border-bottom: solid 1px rgba(255, 255, 255, 0.03);
}

.nav-item-submenu a:last-child {
    border-bottom: none !important;
}

/*/////////////////////*/
/*Sidebar Notifications*/
/*/////////////////////*/

.sidebar-updates {
    margin-top: 20px;
    margin-bottom: 20px;
}

.sidebar-update {
    height: 42px;
    background-repeat: no-repeat;
    background-size: 42px 42px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.sidebar-update strong {
    color: #b9b9b9;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    padding-left: 60px;
    display: block;
}

.sidebar-update em {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    color: #7e8081;
    font-style: normal;
    display: block;
    padding-left: 60px;
}

.blue-update {
    background-image: url(../images/misc/notification-blue.png);
}

.green-update {
    background-image: url(../images/misc/notification-green.png);
}

.red-update {
    background-image: url(../images/misc/notification-red.png);
}

.yellow-update {
    background-image: url(../images/misc/notification-yellow.png);
}

.sidebar-copyright {
    margin-top: 20px;
    font-size: 10px;
    color: #d3d3d4;
}

/*Wide Portfolio*/

.wide-folio {
    margin-top: -17px;
    margin-bottom: 20px;
}

.wide-item {
    margin-bottom: 3px;
}

.wide-item .responsive-image {
    margin-bottom: 0px;
}

.wide-image {
    max-height: 100px;
    overflow: hidden;
}

.wide-item-titles {
    position: relative;
    z-index: 99999;
    top: 30px;
    margin-bottom: -45px;
    pointer-events: none;
}

.wide-item-titles h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
    z-index: 99999;
    text-align: center;
    margin-bottom: 5px;
}

.wide-item-titles p {
    color: #FFFFFF;
    margin-bottom: 0px;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    position: relative;
    z-index: 99999;
}

.wide-item-content {
    display: none;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

@media (min-width: 760px) {
    .wide-image {
        max-height: 150px;
    }

    .wide-item-titles {
        top: 55px;
        margin-bottom: -45px;
    }
}

.contact-call {
    padding-top: 5px;
    color: #666;
    padding-left: 30px;
    background-image: url(../images/misc/contact_phone.png);
    background-position: 0px 5px;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    height: 30px;
    display: block;
}

.contact-text {
    color: #666;
    padding-left: 30px;
    background-image: url(../images/misc/contact_message.png);
    background-position: 0px 2px;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    height: 20px;
    display: block;
    margin-bottom: 2px;
}

.contact-mail {
    color: #666;
    padding-left: 30px;
    background-image: url(../images/misc/contact_mail.png);
    background-position: 3px 3px;
    background-repeat: no-repeat;
    background-size: 14px 14px;
    height: 20px;
    display: block;
    margin-top: 5px;
    margin-bottom: 2px;
}

.contact-facebook {
    color: #666;
    padding-left: 30px;
    background-image: url(../images/misc/contact_facebook.png);
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    height: 20px;
    display: block;
    margin-top: 5px;
    margin-bottom: 2px;
}

.contact-twitter {
    color: #666;
    padding-left: 30px;
    background-image: url(../images/misc/contact_twitter.png);
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    height: 20px;
    display: block;
    margin-top: 5px;
    margin-bottom: 2px;
}

.modal-footer {   border-top: 10px; }

/*////////////*/
/*Login Module*/
/*////////////*/

.ribbon{
  background: rgba(200,200,200,.5);
  width: 50px;
  height: 70px;
  margin: 0 auto;
  position: relative;
  top: 19px;
  border: 1px solid rgba(255,255,255,.3);
  border-top: 2px solid rgba(255,255,255,.5);
  border-bottom: 0;  
  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 3px rgba(0,0,0,.7); 
}
.ribbon:before{
  content:"";
  display: block;
  width: 15px;
  height: 15px;
  background: #4E535B;
  border: 4px solid #cfd0d1;
  margin: 18px auto;
  box-shadow: inset 0 0 5px #000, 0 0 2px #000, 0 1px 1px 1px #A7A8AB;
  border-radius: 100%;
}
.login{
  background: #F1F2F4;
  border-bottom: 2px solid #C5C5C8;
  border-radius: 5px;
  text-align: center;
  color: #36383C;
  text-shadow: 0 1px 0 #FFF;
  max-width: 300px;
  margin: 0 auto;
  padding: 15px 40px 20px 40px;
  box-shadow: 0 0 3px #000;
  margin-bottom: 20px;
}
.login:before{
  content:"";
  display: block;
  width: 70px;
  height: 4px;
  background: #4E535B;
  border-radius: 5px;
  border-bottom: 1px solid #FFFFFF;
  border-top: 2px solid #CBCBCD;
  margin: 0 auto;
}

input.loginButton{
  margin: 5 auto;
 display: block;
  
 
  
 
  width: 90%;
  line-height: 2em;
  background: rgba(114,212,202,1);
  border-radius: 5px;
  border:0;
  border-top: 1px solid #B2ECE6;
  box-shadow: 0 0 0 1px #46A294, 0 2px 2px #808389;
  color: #FFFFFF;
  font-size: 1.5em;
  text-shadow: 0 1px 2px #21756A;
  text-align: center;
 position: inherit;
  padding: 0px;
}
input.loginButton:hover{
 background: linear-gradient(to bottom, rgba(107,198,186,1) 0%,rgba(57,175,154,1) 100%);  
}
input.loginButton:active{
  box-shadow: inset 0 0 5px #000;
  background: linear-gradient(to bottom, rgba(57,175,154,1) 0%,rgba(107,198,186,1) 100%); 
}

input{
  text-align: left;
  background: #E5E7E9;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: inset 0 0 3px #65686E;
  border-bottom: 1px solid #FFF;
  padding-left: 10px;
  font-family: inherit;
}
input{
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
  border: black;
  line-height: 2.8;
  box-sizing: border-box;
  color: #71747A;
  font-family: inherit;
  text-shadow: 0 1px 0 #FFF;
  margin-top: 5px;
  margin-bottom: 5px;
}
input:focus{
  outline: none;
}
.blockinput{
  border-bottom: 1px solid #BDBFC2;
  border-top: 1px solid #FFFFFF;
}
.blockinput:first-child{
  border-top: 0;
  font-family: inherit;
  /* padding-left: 10px; */
}
.blockinput:last-child{
  border-bottom: 0;
  /* padding-left: 10px; */
}
.blockinput i{
  padding-right: 10px;
  color: #B1B3B7;
  text-shadow: 0 1px 0 #FFF;
}
::-webkit-input-placeholder {
  color: #71747A;
  font-family:'Helvetica Neue';
  text-shadow: 0 1px 0 #FFF;

/*////////////////*/
/*Order Now Button*/
/*////////////////*/

orderButton{
  margin-top: 5px;
  display: block;
  width: 100%;
  line-height: 2em;
  background: rgba(114,212,202,1);
  border-radius: 5px;
  border:0;
  border-top: 1px solid #B2ECE6;
  box-shadow: 0 0 0 1px #46A294, 0 2px 2px #808389;
  color: #FFFFFF;
  font-size: 1.5em;
  text-shadow: 0 1px 2px #21756A;
  text-align: center;
}

orderButton:hover{
 background: linear-gradient(to bottom, rgba(107,198,186,1) 0%,rgba(57,175,154,1) 100%);  
}

orderButton:active{
  box-shadow: inset 0 0 5px #000;
  background: linear-gradient(to bottom, rgba(57,175,154,1) 0%,rgba(107,198,186,1) 100%); 
}

/*/////////*/
/*Menu List*/
/*/////////*/

}
.event {
  width: 100%;
  height: auto;
  background: #fff;
  border: 1px solid #CCC;
  border-radius: 2px;
  margin-bottom: 10px;
}

.event > span {
  display: block;
  width: 35px;
  background: #232323;  
  position: initial;
  top: -55px;
  left: -15px;

  /* Text */
  color: #fff;
  font-size: 10px;
  padding: 2px 7px;
  text-align: right;
}
.event > .info {
  font-family: inherit;
  display: inline-block;
  position: initial;
  top: -75px;
  margin-left: 40px;

  /* Text */
  margin-bottom: 10px;
  color: #232323;
  font-weight: normal;
  line-height: 25px;
}
.event > .info:first-line {
  text-transform: uppercase;
  font-size: 10px;
  margin: 10px 0 0 0;
  font-weight: 700;
}
.event > .price {
  display: -webkit-inline-box;
  width: 60px;
  height: initial;
  position: absolute; 

  /* Text */
  bottom: 10px;
  right: 30px;
  color: #FA1212;
  text-align: right;
  font-weight: 700;
}

.totalPrice{
  display: -webkit-inline-box;
  font-size: 17px;
  /* width: 60px; */
  height: initial;
  position: absolute; 

  /* Text */
  /* top: 10px; */
  left: 10px;
  color: #04CA3B;
  text-align: right;
  font-weight: 700;
  padding-top: 15px;
}

/*///////////////////*/
/*Show Details Button*/
/*///////////////////*/

input.detailButton{
  margin: 5 auto;
 
  display: block;
  
 
  
 
  width: 25%;
  line-height: 28px;
  background: rgba(114,212,202,1);
  border-radius: 5px;
  border:0;
  border-top: 1px solid #B2ECE6;
  box-shadow: 0 0 0 1px #46A294, 0 2px 2px #808389;
  color: #FFFFFF;
  font-size: 1.5em;
  text-shadow: 0 1px 2px #21756A;
  text-align: center;
 
  position: absolute;
  top: 30px;
  right: 30px;
  padding: 0px;
  white-space: normal;
}
input.detailButton:hover{
 background: linear-gradient(to bottom, rgba(107,198,186,1) 0%,rgba(57,175,154,1) 100%);  
}
input.detailButton:active{
  box-shadow: inset 0 0 5px #000;
  background: linear-gradient(to bottom, rgba(57,175,154,1) 0%,rgba(107,198,186,1) 100%); 
}

/*/////////////////*/
/*Restaurant Button*/
/*/////////////////*/

input.cOutButton{
  margin: 5 auto;
 
  display: block;
  
 
  
 
  width: 30%;
  min-height: 35px;
  line-height: 18px;
  background: rgba(114,212,202,1);
  border-radius: 5px;
  border:0;
  border-top: 1px solid #B2ECE6;
  box-shadow: 0 0 0 1px #46A294, 0 2px 2px #808389;
  color: #FFFFFF;
  font-size: 1.5em;
  text-shadow: 0 1px 2px #21756A;
  text-align: center;
 
  position: absolute;
  /* top: 30px; */
  right: 30px;
  padding: 0px;
  white-space: normal;
}

    .stars{
      width: 130px;
      height: 26px;
      background: url(http://sandbox.bumbu.ru/ui/external/stars.png) 0 0 repeat-x;
      position: relative;
    }
     
    .stars .rating{
      height: 26px;
      background: url(http://sandbox.bumbu.ru/ui/external/stars.png) 0 -26px repeat-x;
    }
     
    .stars i{
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      height: 26px;
      width: 130px;
      cursor: pointer;
    }
    .stars:hover i{
      display: block;
    }
    .stars i:hover{
      background: url(http://sandbox.bumbu.ru/ui/external/stars.png) 0 -52px repeat-x;
    }
     
    .stars i + i{width: 104px;}
    .stars i + i + i{width: 78px;}
    .stars i + i + i + i{width: 52px;}
    .stars i + i + i + i + i{width: 26px;}

input.cOutButton:hover{
 background: linear-gradient(to bottom, rgba(107,198,186,1) 0%,rgba(57,175,154,1) 100%);  
}

input.cOutButton:active{
  box-shadow: inset 0 0 5px #000;
  background: linear-gradient(to bottom, rgba(57,175,154,1) 0%,rgba(107,198,186,1) 100%); 
}

ul#comments {
  list-style-type: none;
  font-family: "Helvetica Neue",arial,sans-serif;
  font-size: 15px;
  color: #a5b2b9;
}

ul#comments li { margin-bottom: 30px; position: relative; }
ul#comments li a { text-decoration: none; color: rgb(102, 204, 204); }

.avatar-container { width: 60px; box-sizing: border-box; }
.avatar { width: 50px; height: 50px; border-radius: 5px; float: left; margin: 5px; }

.post-container { padding-top: 3px; margin-left: 70px;  box-sizing: border-box; }
.post-container p { color: #3f4549; }
.author_name { font-weight: bold; font-size: 13px; }

.timeago, .posted { 
  font-weight: 500;
  font-size: 12px;
  color: #a5b2b9;
  color: rgba(0,39,59,.35);
}

.bullet {
  padding: 0 2px;
  font-size: 10px;
  color: #ccc;
  line-height: 1.4;
}

textarea, input {
  border: 1px solid #aaa;
  border-radius: 4px;
  display: block;
  margin: 10px;
  padding: 5px;
  resize: none;
  height: 28px;
  box-sizing: border-box;
  width: 100%;
  transition: height .4s, box-shadow .4s;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
textarea ~ input,
textarea ~ button {
  top: -38px;
  margin-bottom: -38px;
  z-index: 0;
}
textarea:focus, input:focus {
  box-shadow: 0 0 10px rgba(0, 0, 240, .5);
  border-color: rgba(0, 0, 240, .3);
  outline: none;
}
textarea.clicked,
textarea.open {
  height: 100px;
}
.clicked ~ input,
.open ~ input {
  display: block;
  top: 0;
  margin-bottom: 0;
  transition: top .4s, margin .4s, box-shadow .4s;
}
button {
  border-radius: 4px;
  border: 1px solid;
  padding: 8px 10px;
  height: 36px;
  margin: 10px;
  width: 100%;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
  background-color: #006dcc;
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  color: red;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  position: relative;
}
textarea ~ button {
  display: none;
}
.clicked ~ button,
.open ~ button {
  display: block;
  top: 0;
}
.container2{

        height: 200%;


    }
